@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewTask</title>
</head>
    <body>
        <h1>New Task</h1>
        <div>
            <form action="/Tasks/New" method="post">
                <label for="taskName">Task :</label>
                <input type="text" name="taskName" value="" />
                <input type="submit" name="btnSubmit" value="Add Task" />
            </form>
        </div>
    </body>
</html>
