<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<script src="angular.js"></script>
	<script>
	function taskController($scope){
		
		$scope.tasks = ['Task - 1', 'Task - 2', 'Task - 3'];
		$scope.addTask = function(taskName){
			$scope.tasks.push(taskName);
		}
	}
	</script>
</head>
<body ng-app>
	

	<h1>Task Manager</h1>
	<div class="content" data-ng-controller="taskController" >
		<label for="txtTask">Task :</label>
		<input type="text" 
			data-ng-model="taskName" 
			>
		<input type="button" value="Add Task" data-ng-click="addTask(taskName)">

		<input type="button" value="Remove Completed">
		<ul>
			<li data-ng-repeat="task in tasks">{{task}}</li>
		</ul>
	</div>
</body>
</html>