@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GreetMorning</title>
</head>
<body style="background-color: lightblue">
    <div>
        @TempData["Message"]
    </div>
</body>
</html>
