@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GreetInput</title>
</head>
<body>
    <div>
        <form action="/Greeting/Index" method="post">
        <label for="txtName">Name :</label>
        <input type="text" name="name" value="" />
        <input type="submit" name="btnSubmit" value="Greet" />
    </form>
    </div>
</body>
</html>
